:root{
    --primary-color: #1a1919;
}
#character_pfp_container{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    outline: 2px solid red;
    overflow: hidden;
    border-radius: 50%;
}
#lulu{
    outline: 2px solid red;
}